#hdrPane, #footerBox {
    -fx-background-color: #1487d8;
}

#hdrPane {
    -fx-background-image: url("galgo_banner.png");
    -fx-background-repeat: no-repeat;
}

#bodyPane {
    -fx-padding: 10px 0px 0px 0px;
}