.header-pane {
    -fx-background-color: #1487D8;
    /*-fx-background-insets: -20, -10;*/
    -fx-background-image: url("galgo_banner.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
}